{% extends 'dashboard/_base.html' %}

{% block content %}
    {% load mathfilters %}
    {% load static %}
    <div class="overview-container">
        <div class="overview-header">
            <h1 class="overview-title"><a href="/dashboard/overviews/"><- </a> All procedures</h1>
            {% if procedures|length > 0 %}
            {% comment %} <a href="/dashboard/overviews/procedures/new" class="button new-button">Add new procedure</a> {% endcomment %}
            {% endif %}
        </div>
        <form action="/dashboard/overviews/procedures" method="POST">
            {% csrf_token %}
            <label for="search">Search: </label>
            <input class="search-bar" placeholder="Search for procedure..." type="search" name="search" value="{{search_query}}">
            <button class="search-button" type="submit">Search</button>
        </form>
        <div class="content-container">
            {% if procedures|length > 0 %}
            <table class="overview-table">
                <tr class="table-header">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                {% for procedure in procedures %}
                <tr>
                    <td>{{procedure.0}}</td>
                    <td>{{procedure.1}}</td>
                    <td class="actions-row">
                        <a href="/dashboard/overviews/procedures/{{procedure.0}}" class="view-action"><img src="{% static 'dashboard/images/eye.svg' %}" width="18"></a>
                        <a href="/dashboard/overviews/procedures/edit/{{procedure.0}}" class="edit-action"><img src="{% static 'dashboard/images/pencil.svg' %}" width="18"></a>
                        {% comment %} <a href="/dashboard/overviews/procedures/delete/{{procedure.0}}" class="delete-action"><img src="{% static 'dashboard/images/trash.svg' %}" width="18"></a> {% endcomment %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="gap-m flex-col">
                <div>
                    <img src="{% static 'dashboard/images/not-found.svg' %}" alt="no data found" width="128" height="128" class="not-found-image">
                    {% if search_query == "" %}
                        <p>There are no procedures.</p>
                        <a href="/dashboard/overviews/procedures/new" class="button new-button">Create a new procedure</a>
                    {% else %}
                        <p>Search "{{search_query}}" has no results :(</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if procedures|length > 0 %}
        <div class="pagination-container">
            {% if current_page != 1 %}
                <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{current_page|sub:1}}">Prev</a>
                <a href="/dashboard/overviews/procedures?search={{search_query}}&page=1">1</a>
                <span>..</span>
            {% endif %}
            {% for page in pages %}
                {% if page == current_page|sub:2 %}
                    {% if page != 1 %}
                        <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
                {% if page == current_page|sub:1 %}
                    {% if page != 1 %}
                        <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
                {% if page == current_page %}
                    <p>{{page}}</p>
                {% endif %}
                {% if page == current_page|add:1 %}
                    {% if page != total_pages %}
                        <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
                {% if page == current_page|add:2 %}
                    {% if page != total_pages %}
                        <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if has_next_page %}
                <span>..</span>
                <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{total_pages}}">{{total_pages}}</a>
                <a href="/dashboard/overviews/procedures?search={{search_query}}&page={{current_page|add:1}}">Next</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock content %}