{% extends 'dashboard/_base.html' %}

{% block content %}
    {% load mathfilters %}
    {% load static %}
    <div class="overview-container">
        <div class="overview-header">
            <h1 class="overview-title"><a href="/dashboard/overviews/"><- </a> All rated facilities</h1>
            <a href="/dashboard/overviews/ratings/none">All non rated facilities </a>
        </div>
        <form action="/dashboard/overviews/ratings/all" method="POST">
            {% csrf_token %}
            <label for="search">Search: </label>
            <input class="search-bar" placeholder="Search for facility name or city..." type="search" name="search" value="{{search_query}}">
            <button class="search-button" type="submit">Search</button>
        </form>
        <div class="content-container">
            {% if ratings|length > 0 %}
            <table class="ratings-table">
                <tr class="table-header">
                    <th>Facility Name</th>
                    <th>City</th>
                    <th>Overall</th>
                    <th>Mortality</th>
                    <th>Safety</th>
                    <th>Readmission</th>
                    <th>Experience</th>
                    <th>Effectiveness</th>
                    <th>Timeliness</th>
                    <th>Imaging</th>
                    <th>Actions</th>
                </tr>
                {% for rating in ratings %}
                <tr>
                    <td>{{rating.1}}</td>
                    <td>{{rating.2}}</td>
                    <td>{% if rating.4 == -1 %}None{% else %}{{rating.4}}{% endif %}</td>
                    <td>{{rating.5}}</td>
                    <td>{{rating.6}}</td>
                    <td>{{rating.7}}</td>
                    <td>{{rating.8}}</td>
                    <td>{{rating.9}}</td>
                    <td>{{rating.10}}</td>
                    <td>{{rating.11}}</td>
                    <td class="rating-actions">
                        <a href="/dashboard/overviews/ratings/{{rating.0}}" class="view-action"><img src="{% static 'dashboard/images/eye.svg' %}" width="18"></a>
                        <a href="/dashboard/overviews/ratings/edit/{{rating.0}}" class="edit-action"><img src="{% static 'dashboard/images/pencil.svg' %}" width="18"></a>
                        <a href="/dashboard/overviews/ratings/delete/{{rating.0}}" class="delete-action"><img src="{% static 'dashboard/images/trash.svg' %}" width="18"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="gap-m flex-col">
                <div>
                    <img src="{% static 'dashboard/images/not-found.svg' %}" alt="no data found" width="128" height="128" class="not-found-image">
                    {% if search_query == "" %}
                        <p>There are no rated facilities.</p>
                        <a href="/dashboard/overviews/facility/new" class="button new-button">Create a new facility</a>
                    {% else %}
                        <p>Search "{{search_query}}" has no results :(</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if ratings|length > 0 %}
        <div class="pagination-container">
            {% if current_page != 1 %}
                <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{current_page|sub:1}}">Prev</a>
                <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page=1">1</a>
                <span>..</span>
            {% endif %}
            {% for page in pages %}
                {% if page == current_page|sub:2 %}
                    {% if page != 1 %}
                        <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
                {% if page == current_page|sub:1 %}
                    {% if page != 1 %}
                        <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
                {% if page == current_page %}
                    <p>{{page}}</p>
                {% endif %}
                {% if page == current_page|add:1 %}
                    {% if page != total_pages %}
                        <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
                {% if page == current_page|add:2 %}
                    {% if page != total_pages %}
                        <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if has_next_page %}
                <span>..</span>
                <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{total_pages}}">{{total_pages}}</a>
                <a href="/dashboard/overviews/ratings/all?search={{search_query}}&page={{current_page|add:1}}">Next</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock content %}