{% extends 'dashboard/_base.html' %}

{% block content %}
    <div class="overview-container">
        <div class="overview-header">
            <h1 class="overview-title"><a href="/dashboard/overviews/facilityprocedures/facility/{{id}}"><- </a>Do you want to delete procedures of facility: '{{facility_data.1}}'?</h1>
        </div>
        <form class="delete-form" action="/dashboard/overviews/facilityprocedures/facility/delete/{{id}}" method="POST">
            {% csrf_token %}
            <button class="button no-button" name="choice" type="submit" value="no">No</button>
            <button class="button yes-button" name="choice" type="submit" value="yes">Yes</button>
        </form>
        <p class="disclaimer">(This cannot be undone!)</p>
    </div>
{% endblock content %}